.wrap {
  background-image: url("./img/bg.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* IE에서 화살표 제거 */
select::-ms-expand {
  display: none;
}

select {
  position: absolute;
  right: 10%;
  top: 30px;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  padding: 13px 32px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Do Hyeon";
  font-size: 24px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  z-index: 1;
}
select option {
  margin: 0;
  padding: 0;
}
select:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

@media screen and (max-width: 480px) {
  select {
    top: 25px;
    right: 6%;
    padding: 10px 24px;
    font-size: 16px;
  }
}
